
 .h1 {
  font-family: solid;
  color: darkslategray;
  text-align: center;
 }

 .h2 {
  font-family: solid;
  color: darkslategray;
  text-align: left;
   }
  .btn {
    position: relative;
    left: 0%;
    height: 88px;
    width: 720px;
    background: #b1eb94;
    background-image: -webkit-linear-gradient(top, #9beb94, #aeb020);
    background-image: -moz-linear-gradient(top, #b0eb94, #b0ae20);
    background-image: -ms-linear-gradient(top, #b0eb94, #a9b020);
    background-image: -o-linear-gradient(top, #a6eb94, #a6b020);
    background-image: linear-gradient(to bottom, #9beb94, #91b020);

    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 27px;
    padding: 19px;
    text-decoration: none;

    }
 
    .btn:hover {
      background: #2eb020;
      background-image: -webkit-linear-gradient(top, #20b036, #ddeb94);
      background-image: -moz-linear-gradient(top, #20b025, #deeb94);
      background-image: -ms-linear-gradient(top, #20b046, #daeb94);
      background-image: -o-linear-gradient(top, #20b044, #d0eb94);
      background-image: linear-gradient(to bottom, #20b06a, #ebeb94);
      text-decoration: none;
     }

     .art2 {
      background-image: url(https://img.freepik.com/vector-gratis/fondo-geometrico-plano_23-2148967370.jpg?w=2000);
      background-attachment: fixed;
      background-position: center;
      background-size: fixed;
     }
     
     .text1{
      color: #150e0c;
      font-size: 1.2em;
      font-family:Montserrat, sans-serif; 
      text-align: center;
      margin: 30px;
      padding: 30px;
      }

    .text2 {
      color: #201e1e;
      font-size: 1.2em;
      font-family:Montserrat, sans-serif; 
      text-align: center;
      margin: 30px;
      padding: 30px;
     }

     .cajinput{
      font-family:Lucida Sans;
      text-align: center;
      margin: 5px;
      padding: 5px;
   }

   .cajinput1{
      font-family:Lucida Sans;
      text-align: center;
      margin: 5px;
      padding: 5px;
   }

   .cajinput2{
    font-family:Lucida Sans;
    text-align: center;
    left: 20%;
    margin: 5px;
    padding: 5px;
 }


     